<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'include/head.html' %}
        <link rel="stylesheet" href="{{ url_for("static", filename="input.css") }}">
    </head>
    <body>
        <script>0</script>

        <div style="text-align: center;">
            <form action="/start">
                {% with mal=True %}
                    {% include 'include/mode.html' %}
                {% endwith %}

                <p>
                    <label for="user">mal username</label><br />
                    <input type="text" name="user" id="user" autofocus value="{{ user }}">
                </p>

                {% include 'include/video_switch.html' %}
                {% with spoiler=True %}
                    {% include 'include/note_filter.html' %}
                {% endwith %}

                <p>animes to include</p>
                <p>
                    <div class="checkboxes">
                        <label for="s1">currently watching</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s1" value="1" checked>
                          <span class="slider round"></span>
                        </label>

                        <label for="s2">completed</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s2" value="2" checked>
                          <span class="slider round"></span>
                        </label>

                        <label for="s3">on hold</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s3" value="3">
                          <span class="slider round"></span>
                        </label>

                        <label for="s4">dropped</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s4" value="4">
                          <span class="slider round"></span>
                        </label>

                        <label for="s6">plan to watch</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s6" value="6">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </p>

                {% include 'include/theme_types.html' %}
            </form>
        </div>
    </body>
</html>
