<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>mal op quiz</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for("static", filename="input.css") }}">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    </head>
    <body>
        <script>0</script>

        <div style="text-align: center;">
            <form action="/start">
                <p>
                    <label for="mal">mal mode</label>
                    <label class="container">
                        <input type="radio" name="mode" id="mal" value="mal" checked>
                        <span class="checkmark"></span>
                    </label>

                    <label for="popular" class="radio-label">popular mode</label>
                    <label class="container">
                        <input type="radio" name="mode" id="popular" value="popular" onclick="window.location='/popular'">
                        <span class="checkmark"></span>
                    </label>
                </p>

                <p>
                    <label for="user">mal username</label><br />
                    <input type="text" name="user" id="user" autofocus value="{{ user }}">
                </p>

                <p>
                    <label for="video">video mode</label>
                    <label class="switch">
                      <input type="checkbox" name="video" id="video">
                      <span class="slider round"></span>
                    </label>
                </p>
                <p>
                    <p>animes to include</p>

                    <div class="checkboxes">
                        <label for="s1">currently watching</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s1" value="1" checked>
                          <span class="slider round"></span>
                        </label>

                        <label for="s2">completed</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s2" value="2" checked>
                          <span class="slider round"></span>
                        </label>

                        <label for="s3">on hold</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s3" value="3">
                          <span class="slider round"></span>
                        </label>

                        <label for="s4">dropped</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s4" value="4">
                          <span class="slider round"></span>
                        </label>

                        <label for="s6">plant to watch</label>
                        <label class="switch">
                          <input type="checkbox" name="s" id="s6" value="6">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </p>

                <p>
                    <p>theme types</p>

                    <div class="checkboxes">
                        <label for="op">opening</label>
                        <label class="switch">
                          <input type="checkbox" name="type" id="op" value="OP" checked>
                          <span class="slider round"></span>
                        </label>

                        <label for="ed">ending</label>
                        <label class="switch">
                          <input type="checkbox" name="type" id="ed" value="ED">
                          <span class="slider round"></span>
                        </label>
                    </div>
                </p>

                <p>
                    <label for="n">questions</label>
                    <input type="number" name="n" id="n" value="20" min="1" max="70">
                </p>

                <button type="submit">start</button>

                <input type="hidden" name="mode" value="mal">
            </form>
        </div>
    </body>
</html>
