<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>mal op quiz</title>
    </head>
    <body>
        <div style="text-align: center;">
            {% if video %}
                <iframe src="{{ src }}" height="720" width="1280"></iframe>
            {% else %}
                <iframe src="{{ src }}"></iframe>
            {% endif %}

            <details>
                <summary>answer</summary>
                <p>{{ animeTitle }} - {{ songTitle }}</p>
            </details>

            <p>
                <a href="/play/{{ next }}">next</a>
            </p>
        </div>
    </body>
</html>
