<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>mal op quiz</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">

        <script>
            function setCookie(name, value) {
                document.cookie = name + "=" + value + "; path=/; SameSite=Lax";
            }
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                    var c = ca[i];
                    while (c.charAt(0)==' ') c = c.substring(1,c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }

            function setVolume() {
                setCookie("vol", document.getElementById("player").volume);
            }

            function getVolume() {
                document.getElementById("player").volume = getCookie("vol");
            }
        </script>
    </head>
    <body onload="getVolume()">
        <div style="text-align: center;">
            <h3>question {{ n + 1 }}/{{ qn }}</h3>

            {% if video %}
                <video width="auto" height="720" controls autoplay id="player" onvolumechange="setVolume()">
                    <source src="{{ theme["mirror"]["mirrorURL"] }}">
                </video>
            {% else %}
                <audio controls autoplay id="player" onvolumechange="setVolume()">
                    <source src="{{ theme["mirror"]["mirrorURL"] }}">
                </audio>
            {% endif %}

            <details>
                <summary>answer</summary>
                <p><a href="https://myanimelist.net/anime/{{ anime[1] }}" target="_blank">{{ anime[0] }}</a> - {{ theme["themeName"] }} ({{ theme["themeType"] }})</p>
            </details>

            {% if n < qn - 1 %}
                <p>
                    <a href="/play/{{ n + 1 }}">next</a>
                </p>
            {% else %}
                <p>
                    <a href="/finish">finish</a>
                </p>
            {% endif %}

            <br />
            <p>
                <a href="/">quit quiz</a>
            </p>
        </div>
    </body>
</html>
