<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'include/head.html' %}
        <link rel="stylesheet" href="{{ url_for("static", filename="input.css") }}">
    </head>
    <body>
        <script>0</script>

        <div style="text-align: center;">
            <form action="/start">
                {% with season=True %}
                    {% include 'include/mode.html' %}
                {% endwith %}

                {% include 'include/video_switch.html' %}
                {% include 'include/note_filter.html' %}

                <p>
                    <p>time frame</p>

                    <label for="time">season</label>
                    <label class="switch">
                        <input type="checkbox" name="time" id="time" value="year">
                        <span class="slider"></span>
                    </label>
                    <input type="hidden" name="time" value="season">
                    <label for="time">year</label>
                </p>

                {% include 'include/theme_types.html' %}
            </form>
        </div>
    </body>
</html>
